/*

--- Custom CSS for Little Lion Cafe ---

*/

body { 
	/*background-color: #000;*/
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}
.banner {
	/*background-color: transparent;*/
	background-color: #000;
	border: none;
	margin-bottom: 0;
}
.btn-primary {
	padding: 10px 40px;
}


header { }

/*Home page and Interior page banners*/
.slideshow-wrap { 
	background: url(../img/body-back.jpg) no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

.interior-banner-wrap {
	background-color: #2c2c2c;
	color: #FFF;
}

h2.front-banner,
h2.banner-title {
	font-size: 22px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.wrap { 
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #e7e7e7;
	margin-bottom: 30px;
}

body.home .cta-wrapper {
	margin-bottom: 30px;
}
.cta-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #e7e7e7;
	/*margin-bottom: 30px;*/
}
.cta-wrapper .cta {

}
.cta-wrapper .widget-inner {
	padding: 15px;
	background-color: #000;
}
.cta-wrapper h3 {
	text-align: center;
	margin-bottom: 20px;
}




/*Global Main Styles*/
.main { }
.page-header {
	margin-top: 0;
	margin-bottom: 0;
}

/*Front Page Styles*/
body .page-header {
	display: none;
}
.front-intro {
	font-size: 18px;
	line-height: 22px;
}



aside { }

aside .btn {
	margin-bottom: 30px;
}



/*Page Specific*/


/*About Us Page*/
body.about .left {
	padding-left: 0;
}


/*Form Styles*/
body.contact input[type="text"],
body.contact input[type="email"],
body.contact textarea {
	width: 100%;
	border: 1px solid #ccc;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
body.contact input[type="text"],
body.contact input[type="email"] {
	height: 40px;
}
.footer-wrap {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2c2c2c;
	color: #FFF;
}

@media( max-width: 767px ) {
	.logo-img {
		width: 100%;
		height: auto;
		display: block;
	}
}
@media( min-width: 678px ) {
	.slideshow-wrap { 
		height: 600px;
	}
}

@media( min-width: 992px ) {
	#menu-primary-navigation {
		float: right;
	}
	.slideshow-wrap { 
		height: 600px;
	}
}
